.yellowbox{
    background-color: yellow;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 500px;
}
.greenbox{
    background-color: green;
    height: 40px;
    width: 40px;
    justify-content: space-around;
    margin: 50px;
    
}

.bluebox{
    background-color: blue;
    height: 300px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 20px; 

     
}
.brownbox{
    background-color: brown;
    height: 100px;
    width: 100px;
    position:absolute;
    right: 0px;
    bottom: 0px;
}
.purplebox{
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}