.yellowbox{
    background-color: yellow;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 500px;
}
.greenbox{
    background-color: green;
    height: 40px;
    width: 40px;
    margin: 30px;
}

.bluebox{
    background-color: blue;
    height: 300px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 20px;
}
.purplebox{
    background-color: blueviolet;
}