.bigbox{
    background-color: yellow;
    height: 150px;
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}
.flex{
    background-color: green;
    height: 30px;
    width: 30px;
    margin: 15px;
}

.bluebox{
    background-color: rgb(0, 191, 255);
    height: 300px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 20px;
    
}
.purplebox{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;

}